code/Node-Red_json.txt
[{"id":"66a45ade.ef5884","type":"tab","label":"WORKFLOW","disabled":false,"info":""},{"id":"958fc06d.b2eaf","type":"subflow","name":"Remote FaceNet","info":"","category":"","in":[{"x":160,"y":80,"wires":[{"id":"e4cc97db.306d98"}]}],"out":[{"x":1480,"y":500,"wires":[{"id":"9a73142e.acc468","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6e5db4b1.40d67c","type":"inject","z":"66a45ade.ef5884","name":"Start plz click here","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":40,"wires":[["71624fd9.c5198"]]},{"id":"4c9d0f08.d1c84","type":"debug","z":"66a45ade.ef5884","name":"END OF PROCESS","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"\"Completed!\"","targetType":"jsonata","statusVal":"","statusType":"auto","x":1080,"y":300,"wires":[]},{"id":"9739916c.5b3db","type":"subflow:958fc06d.b2eaf","z":"66a45ade.ef5884","name":"Remote FaceNet service","env":[],"x":910,"y":80,"wires":[["682fd827.b1df48","1f752a2.7995bd6"]]},{"id":"ac0ada3.bdfbb28","type":"file in","z":"66a45ade.ef5884","name":"Indicate your input file","filename":"/home/pi/Desktop/Lab3/input.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":640,"y":180,"wires":[["9739916c.5b3db"]]},{"id":"71624fd9.c5198","type":"exec","z":"66a45ade.ef5884","command":"python3 /home/pi/Desktop/Lab3/lab3_script.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Run your Python script","x":300,"y":160,"wires":[["ac0ada3.bdfbb28"],["75866d16.1bf6d4"],[]]},{"id":"682fd827.b1df48","type":"delay","z":"66a45ade.ef5884","name":"Wait for process to complete","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":180,"wires":[["4c9d0f08.d1c84"]]},{"id":"e4cc97db.306d98","type":"function","z":"958fc06d.b2eaf","name":"Edit for POST","func":"var buf = new Buffer.from(msg.payload);\n//return msg;\nvar newMsg = {\n    'headers': {\n        'Content-type': 'multipart/form-data'\n    },\n    'payload': {\n        'file':\n            {\n                //'file': 'file',\n                'value': buf,\n                'options' : {\n                    'filename': 'input.jpg'\n                }\n            },\n        'device_type': 'v100',\n        'task_type': 'face_recognition'\n    }\n};\nreturn newMsg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":80,"wires":[["f50e6ecf.86704"]]},{"id":"f50e6ecf.86704","type":"http request","z":"958fc06d.b2eaf","name":"POST","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://52.39.166.215/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":300,"y":180,"wires":[["bbf13e6b.4e927","ef87a7ac.6b4798","8694abc.22f0a58"]]},{"id":"ef87a7ac.6b4798","type":"debug","z":"958fc06d.b2eaf","name":"FINISHED POST","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":80,"wires":[]},{"id":"1f752a2.7995bd6","type":"debug","z":"66a45ade.ef5884","name":"FINISHED Remote FaceNet","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1290,"y":80,"wires":[]},{"id":"bbf13e6b.4e927","type":"function","z":"958fc06d.b2eaf","name":"Set taskID header","func":"var newMsg = {\n    'headers': { 'taskID': msg.payload}\n};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":280,"wires":[["f784b31d.8c156"]]},{"id":"f784b31d.8c156","type":"http request","z":"958fc06d.b2eaf","name":"GET URL","method":"GET","ret":"txt","paytoqs":"body","url":"http://52.39.166.215/uploader","tls":"","persist":false,"proxy":"","authType":"bearer","x":300,"y":380,"wires":[["929605df.325838","ae36886c.ebe238"]]},{"id":"929605df.325838","type":"debug","z":"958fc06d.b2eaf","name":"FINISHED GET URL","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":300,"wires":[]},{"id":"946cc42d.b1beb8","type":"switch","z":"958fc06d.b2eaf","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ERROR","vt":"str"},{"t":"eq","v":"WAIT","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":730,"y":380,"wires":[["f64f31b3.a76f3"],["1bd44b30.02e115"],["4d80eafc.47ea94"]]},{"id":"ae36886c.ebe238","type":"function","z":"958fc06d.b2eaf","name":"Check Status","func":"if (msg.payload == 'UNKNOWN') {\n    msg.payload = 'ERROR';\n} else if (msg.payload == 'SUBMITTED') {\n    msg.payload = 'WAIT';\n} else if (msg.payload == 'RUNNING') {\n    msg.payload = 'WAIT';\n} else if (msg.payload == 'PENDING') {\n    msg.payload = 'WAIT';\n} else {\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":380,"wires":[["946cc42d.b1beb8"]]},{"id":"749051e3.000b3","type":"http request","z":"958fc06d.b2eaf","name":"GET TAR","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":500,"wires":[["f717dfa8.516f7","6cd13c72.c0db24"]]},{"id":"d610fd23.b49d4","type":"debug","z":"958fc06d.b2eaf","name":"Unknown TaskID","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":80,"wires":[]},{"id":"f64f31b3.a76f3","type":"change","z":"958fc06d.b2eaf","name":"ERROR","rules":[{"t":"set","p":"payload","pt":"msg","to":"ERROR: taskID is not valid!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":80,"wires":[["d610fd23.b49d4"]]},{"id":"44de6854.beb8d8","type":"delay","z":"958fc06d.b2eaf","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":380,"wires":[["bbf13e6b.4e927"]]},{"id":"8694abc.22f0a58","type":"file","z":"958fc06d.b2eaf","name":"Save taskID","filename":"/home/pi/Desktop/Lab3/taskID.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"utf8","x":570,"y":200,"wires":[[]]},{"id":"1bd44b30.02e115","type":"file in","z":"958fc06d.b2eaf","name":"Load taskID","filename":"/home/pi/Desktop/Lab3/taskID.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":950,"y":380,"wires":[["44de6854.beb8d8"]]},{"id":"bd4f4bad.13a898","type":"exec","z":"958fc06d.b2eaf","command":"cd ~/Desktop/Lab3 && tar -xf output.tar.gz","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Untar","x":950,"y":500,"wires":[["fb7cdedd.3fec1"],[],[]]},{"id":"4d80eafc.47ea94","type":"change","z":"958fc06d.b2eaf","name":"Set msg.url","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":500,"wires":[["749051e3.000b3"]]},{"id":"f717dfa8.516f7","type":"file","z":"958fc06d.b2eaf","name":"","filename":"Download Tar","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":560,"y":500,"wires":[["bd4f4bad.13a898"]]},{"id":"6cd13c72.c0db24","type":"debug","z":"958fc06d.b2eaf","name":"FINISHED GET TAR","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":640,"wires":[]},{"id":"fb7cdedd.3fec1","type":"exec","z":"958fc06d.b2eaf","command":"cd ~/Desktop/Lab3/build/*/ && mv out.txt ~/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Move out.txt","x":1150,"y":500,"wires":[["9a73142e.acc468"],[],[]]},{"id":"9a73142e.acc468","type":"exec","z":"958fc06d.b2eaf","command":"cd ~/Desktop/Lab3/ && rm -r build/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Clean Up","x":1340,"y":500,"wires":[[],[],[]]},{"id":"75866d16.1bf6d4","type":"debug","z":"66a45ade.ef5884","name":"Error","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":300,"wires":[]},{"id":"5464438c.35cdec","type":"catch","z":"66a45ade.ef5884","name":"catch all","scope":null,"uncaught":false,"x":330,"y":780,"wires":[["70f9d06.70c513"]]},{"id":"70f9d06.70c513","type":"debug","z":"66a45ade.ef5884","name":"Catch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":800,"wires":[]}]